
body {
    background-color: rgb(117, 168, 161)
    ;
}
h1 {
    color: maroon;
    text-align:center;
} 
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
  